{% if global['dai_vlans'] is defined %}
ip arp inspection vlan {{ global['dai_vlans'] }}
{% else %}
{% endif %}

{% for config in interfaces %}
{% if config['dai_trust'] is defined %}
interface {{ config['name'] }}
 ip arp inspection trust
{% else %}
{% endif %}
{% endfor %}




