{% if global['vtp'] is defined %}
vtp domain {{ global['vtp']['domain'] }}
vtp mode {{ global['vtp']['mode'] }}
vtp password {{ global['vtp']['key'] }}
vtp version {{ global['vtp']['ver'] }}
{% endif %}

{% for vlan in global['vlans'] %}
{% if global['vtp']['mode'] == "server" %}
vlan {{ vlan.num }}
  name {{ vlan.name }}
{% else %}
{% endif %}
{% endfor %}