{% if routing['eigrp_named'] is defined %}
{% for config in routing['eigrp_named']['global']  %}
router eigrp {{ config['name'] }}
  address-family ipv4 unicast autonomous-system {{ config['as'] }}
{% endfor %}
  eigrp router-id {{ global['rid'] }}
  {% for config in interfaces %}
  {% if config['eigrp_normal'] == "true" %}
  network {{ config['ip'] }} {{ config['wildmask'] }}
  {% endif %}
  {% if config['eigrp_key_chain'] is defined %}
  af-interface {{ config['name'] }}
    authentication mode {{ config['eigrp_auth_mode'] }}
    authentication key-chain {{ config['eigrp_key_chain'] }}
{% if config['eigrp_key_chain'] == "eigrp" %}
key chain {{ key_chain['eigrp']['name ']}}
  key {{ key_chain['eigrp']['key_no'] }}
    key-string {{ key_chain['eigrp']['key'] }}
    cryptographic-algorithm {{ key_chain['eigrp']['auth'] }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}