{% for config in routing['ipsec']['ike_phase_one'] %}
crypto isakmp policy {{ config['isakmp_policy_no'] }}
  hash {{ config['hash'] }}
  authentication {{ config['auth'] }}
  group {{ config['group'] }}
  lifetime {{ config['lifetime'] }}
  encr {{ config['encryption'] }}
{% if routing['ipsec']['auth'] == "pre-share" %}
crypto isakmp key {{ config['pre_share_key'] }} {{ config['pre_share_ip_address'] }}
{% endif %}
{% endfor %}

{% for config in routing['ipsec']['transform_set'] %}
Crypto ipsec transform-set {{ config['name'] }} {{ config['auth'] }} {{ config['encryption'] }} 
{% endfor %}

{% for config in routing['ipsec']['access_list_extended'] %}
ip access-list extended {{ config['name'] }} 
  permit ip {{ config['src_net'] }} {{ config['src_mask'] }} {{ config['dest_net'] }} {{ config['dest_mask'] }}
ip access-list {{ config['name'] }} remark {{ config['remark'] }} 
{% endfor %}

{% for config in routing['ipsec']['crypto_map'] %}
Crypto map {{ config['name'] }} {{ config['isakmp_policy_no'] }} ipsec-isakmp 
  Set transform-set {{ config['transform_set'] }} 
  Set peer {{ config['peer'] }} 
  Match address {{ config['match_acl'] }}
{% endfor %}

{% for config in routing['ipsec']['ipsec_interface'] %}
interface {{ config['int'] }}
  crypto_map {{ config['cto_map'] }}
{% endfor %}
