{% for ospf in routing['ospf']['global'] %}
router ospf {{ ospf['pro_id'] }}
  area {{ ospf['area'] }} authentication message-digest
{% endfor %}
{% for interface in interfaces %}
{% if interface['ospf'] is defined %}
interface {{ interface['name'] }}
  ip ospf {{ interface['ospf_pro'] }} area {{ interface['ospf_area'] }}
  ip ospf message-digest-key {{ key_chain['ospf']['key_no'] }} {{ key_chain['ospf']['auth'] }} {{ key_chain['ospf']['key'] }}  
{% else %}
{% endif %}
{% endfor %}
