
{% for config in interfaces %}
{% if config['pat'] == "inside" %}
interface {{ config['name'] }}
  ip nat inside
{% endif %}
{% endfor %}

{% for config in interfaces %}
{% if config['pat'] == "inside" %}
ip access-list standard NAT_INSIDE_NETWORKS
  permit {{ config['ip'] }} {{ config['wildmask'] }}
{% endif %}
{% endfor %}

{% for config in interfaces %}
{% if config['pat'] == "outside" %}
interface {{ config['name'] }}
  ip nat outside
ip nat inside source list NAT_INSIDE_NETWORKS interface {{ config['name'] }} overload
{% endif %}
{% endfor %}