{% for interface in interfaces %}
{% if interface['port_type'] == "physical" %}
interface {{ interface['name'] }}
  description {{ interface['des'] | upper }}
  ip address {{ interface['ip']}} {{ interface['mask'] }}
  no shutdown
{% endif %}
{% if interface['port_type'] == "roas" %}
interface {{ interface['name'] }}
  description {{ interface['des'] | upper }}
  no shutdown
{% endif %}
{% if interface['port_type'] == "loop" %}
interface {{ interface['name'] }}
  description {{ interface['des'] | upper }}
  ip address {{ interface['ip']}} {{ interface['mask'] }}
  no shutdown
{% endif %}
{% if interface['port_type'] == "vrrp" %}
interface {{ interface['name'] }}
  ip address {{ interface['ip'] }} {{ interface['mask'] }}
  encapsulation {{ interface['encap'] }} {{ interface['vlan'] }}
  vrrp {{ interface['group'] }} ip {{ interface['vip'] }}
  vrrp {{ interface['group'] }} priority {{ interface['priority'] }}
  vrrp {{ interface['group'] }} preempt delay min {{ interface['preempt_delay'] }}
  vrrp {{ interface['group'] }} authentication {{ key_chain['vrrp']['auth'] }} key-chain {{ key_chain['vrrp']['name']}}
key chain {{ key_chain['vrrp']['name'] }}
  key {{ key_chain['vrrp']['key_no'] }}
    key-string {{ key_chain['vrrp']['key'] }}
    cryptographic-algorithm {{ key_chain['vrrp']['auth']}}
{% endif %}
{% if interface['port_type'] == "hsrp" %}
interface {{ interface['name'] }}
  ip address {{ interface['ip'] }} {{ interface['mask'] }}
  encapsulation {{ interface['encap'] }} {{ interface['vlan'] }}
  standby {{ interface['group'] }} ip {{ interface['vip'] }}
  standby {{ interface['group'] }} priority {{ interface['priority'] }}
  standby {{ interface['group'] }} preempt delay minimum {{ interface['preempt_delay'] }}
  standby {{ interface['group'] }} authentication {{ key_chain['hsrp']['auth'] }} key-chain {{ key_chain['hsrp']['name'] }}
key chain {{ key_chain['hsrp']['name'] }}
  key {{ key_chain['hsrp']['key_no'] }}
    key-string {{ key_chain['hsrp']['key'] }}
    cryptographic-algorithm {{ key_chain['hsrp']['auth']}}
{% endif %}
{% if interface['port_type'] == "glbp" %}
interface {{ interface['name'] }}
  encapsulation {{ interface['encap'] }} {{ interface['vlan'] }}
  glbp {{ interface['group'] }} ip {{ interface['ip'] }}
  glbp {{ interface['group'] }} priority {{ interface['priority'] }}
  glbp {{ interface['group'] }} preempt delay min {{ interface['preempt_delay'] }}
  glbp {{ interface['group'] }} authentication {{ key_chain['glbp']['auth'] }} key-chain {{ key_chain['glbp']['name'] }}
  glbp {{ interface['group'] }} load-balancing {{ interface['load_bal'] }}
key chain {{ key_chain['glbp']['name'] }}
  key {{ key_chain['glbp']['key_no'] }}
    key-string {{ key_chain['glbp']['key'] }}
    cryptographic-algorithm {{ key_chain['glbp']['auth']}}
{% endif %}
{% if interface['port_type'] == "gre" %}
interface {{ interface['name'] }}
  ip address {{ interface['ip'] }} {{ interface['mask'] }}
  tunnel source {{ interface['tunnel_src'] }}
  tunnel destination {{ interface['tunnel_dest'] }}
  ip mtu 1400
  ip tcp adjust-mss 1360
{% endif %}
{% endfor %}
