{% if routing['static'] is defined %}
{% for config in routing['static']  %}
ip route {{ config['dest_net'] }} {{ config['dest_mask'] }} {{ config['exit_int_or_next_hop'] }}
{% endfor %}
{% endif %}